In [1]:
import pandas as pd

In [9]:
train = pd.read_csv('train.csv', delimiter=',')
train.sample(2)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
2792,1,Poe,15,307,307,1,1,2,7,2,...,2,1,0,41401,7e286bb02b0d47725adf9b39c469fb9c,0,He is very active! He needs a lot of attention...,5457a593a,3.0,4
12708,1,Chi-jaja,2,307,0,2,1,2,0,1,...,1,1,0,41401,c00756f2bdd8fa88fc9f07a8309f7d5d,0,These 4 puppies were abandoned at the nearby s...,029641a1a,6.0,2

In [6]:
train.shape[0]

14993

In [10]:
train.shape[1]

24